<div class="tab-pane" id="movie-online-pane">
    <div class="hero-unit add_resource_direct">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="movie_online_link">Link</label>
                <div class="controls">
                    <input type="text" id="movie_online_link" placeholder="online link" style="width: 380px;">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Action</label>
                <div class="controls">
                    <button class="btn" id="movie_online_add">Add</button>
                    <button class="btn" id="movie_online_add_reset">Reset</button>
                </div>
            </div>
        </form>
    </div>
    
    <table id="render_movie_online_show" class="table table-bordered table-condensed" style="font-size: 12px;"></table>   
</div>

{% verbatim %}
<script id="movie-online-template" type="text/x-handlebars-template">
    <tr>
        <td style="width:344px; max-width:344px; overflow: hidden;">
            <a href="{{link}}" >{{link}}</a>
        </td>
        <td style="width:40px;">
            <button class="btn btn-mini btn-danger" data="{{index}}" type="button">Del</button>
        </td>
    </tr>
</script>
{% endverbatim %}
